<nav class="nav-bar">
    <div class="logo">
        <h1><a href="#">RONALD</a></h1>
    </div>
    <div class="navbars">
        <ul>
            <li><a href="http://127.0.0.1:3000/">Home</a></li>
            <li><a href="http://127.0.0.1:3000/about">About</a></li>
            <li><a href="http://127.0.0.1:3000/contacts">Contacts</a></li>
            <li><a href="http://127.0.0.1:3000/blogs">Blogs</a></li>
        </ul>
    </div>
</nav>