<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
	<header id="header">
		<%- include('./partials/nav.ejs') %>
	</header>
<main>
	<section id="welcome-section">
		<h2>Hi I am Ronald</h2>
		<h3>A Web Developer</h3>
		<p>Homepage</p>
	</section>
</main>
</body>
</html>